.footer_bar {
    display: flex;
    place-content: center;
    height: 4dvh;
    background: #0e1127;
    box-shadow: 0px 0px 0px 0px #ffffff;
    align-items: center;
}

.footer_text {
    color: #ADB7BC;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
}
