.navibar2_component {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  font-family: "Poppins";
  background-color: #31304d;
}

.navibar_align {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.collapse_icon {
  height: 20px;
  width: auto;
}

.navibar2_logo {
  height: 30px;
  width: auto;
}

.navibar2_icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}

.icon {
  height: 20px;
  width: 20px;
}
