.main-div {
  background-color: #161a30;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-div .div {
  background-color: #161a30;
  height: 1135px;
  position: relative;
  width: 1440px;
}

.main-div .quiz-page-div {
  height: 749px;
  left: 70px;
  position: absolute;
  top: 130px;
  width: 1277px;
}

.main-div .question-box-div {
  height: 635px;
  left: 61px;
  position: absolute;
  top: 165px;
  width: 1154px;
}

.main-div .question-box-background {
  background-color: #31304d;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000040;
  height: 649px;
  left: 20px;
  position: relative;
  top: -14px;
  width: 1152px;
}

.main-div .answer-tag {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.main-div .answer-text {
  color: #15151599;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.main-div .answer-tab {
  background-color: #939393;
  border-radius: 20px;
  height: 77px;
  overflow: hidden;
  position: relative;
  width: 980px;
}

.main-div .answer-box-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 77px;
  justify-content: center;
  left: 35px;
  position: absolute;
  top: 442px;
  width: 1086px;
}

.main-div .answer-box-2 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 77px;
  justify-content: center;
  left: 33px;
  position: absolute;
  top: 345px;
  width: 1086px;
}

.main-div .answer-box-1 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 77px;
  justify-content: center;
  left: 33px;
  position: absolute;
  top: 248px;
  width: 1086px;
}

.main-div .answer-box-0 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 77px;
  justify-content: center;
  left: 33px;
  position: absolute;
  top: 151px;
  width: 1086px;
}
.main-div .check-box {
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  height: 30px;
  left: 989px;
  overflow: hidden;
  position: absolute;
  top: 25px;
  width: 30px;
}

.main-div .correct-check-box {
  background-color: #000000;
  border-radius: 10px;
  height: 20px;
  left: 5px;
  position: relative;
  top: 5px;
  width: 20px;
}

.main-div .question-text {
  color: #c0c0c0;
  font-family: "Public Sans", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
  width: 1069px;
}

.main-div .topics-div {
  height: 176px;
  left: -75px;
  position: absolute;
  top: -190px;
  width: 1277px;
}

.main-div .question-count {
  color: #939393;
  font-family: "Public Sans", Helvetica;
  font-size: 30px;
  font-weight: 500;
  left: 535px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120px;
  white-space: nowrap;
}

.main-div .time-left-text {
  color: #939393;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 1035px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 195px;
}

.main-div .quiz-title-text {
  color: #f9db24;
  font-family: "Public Sans", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.main-div .score-text {
  color: #f9db24;
  font-family: "Public Sans", Helvetica;
  font-size: 33px;
  font-weight: 600;
  left: 1050px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 114px;
  white-space: nowrap;
}

.correct {
  background-color: green;
  border-radius: 20px;
  height: 77px;
  overflow: hidden;
  position: relative;
  width: 980px;
}

.incorrect {
  background-color: red;
  border-radius: 20px;
  height: 77px;
  overflow: hidden;
  position: relative;
  width: 980px;
}

.main-div .answer-box-3.correct .answer-tab,
.main-div .answer-box-3.incorrect .answer-tab,
.main-div .answer-box-2.correct .answer-tab,
.main-div .answer-box-2.incorrect .answer-tab,
.main-div .answer-box-1.correct .answer-tab,
.main-div .answer-box-1.incorrect .answer-tab,
.main-div .answer-box-0.correct .answer-tab,
.main-div .answer-box-0.incorrect .answer-tab {
  background-color: transparent;
}

.main-div .answer-box-3.correct .answer-tab,
.main-div .answer-box-3.correct .answer-text,
.main-div .answer-box-2.correct .answer-tab,
.main-div .answer-box-2.correct .answer-text,
.main-div .answer-box-1.correct .answer-tab,
.main-div .answer-box-1.correct .answer-text,
.main-div .answer-box-0.correct .answer-tab,
.main-div .answer-box-0.correct .answer-text {
  background-color: green;
}

.main-div .answer-box-3.incorrect .answer-tab,
.main-div .answer-box-3.incorrect .answer-text,
.main-div .answer-box-2.incorrect .answer-tab,
.main-div .answer-box-2.incorrect .answer-text,
.main-div .answer-box-1.incorrect .answer-tab,
.main-div .answer-box-1.incorrect .answer-text,
.main-div .answer-box-0.incorrect .answer-tab,
.main-div .answer-box-0.incorrect .answer-text {
  background-color: red;
}
